Package: com.ps.letmeswitch
Name: LetMeSwitch
Depends: mobilesubstrate, firmware (>= 8.0)
Conflicts: org.thebigboss.letmeswitch
Replaces: org.thebigboss.letmeswitch
Provides: org.thebigboss.letmeswitch
Version: 1.0
Architecture: iphoneos-arm
Description: Keyboard choosing from 3rd-party keyboard.
Maintainer: PoomSmart
Author: PoomSmart
Section: Tweaks
